.flex__list {
    display: flex;
    padding: 30px;
    gap: 30px;
    list-style: none;
    background-color: #88B5BF;
    margin: 0 0 100px 0;
}

.flex__item {
    width: 100%;
}

.flex__inner {
    position: relative;
    height: 0;
    border: none;
    padding-top: 78%;
}

.flex__content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0d89b0;
}
